form {
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 0;
}

form div {
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

button {
    font-size: 1.5em;
    font-weight: 600;
}

input {
    width: 35%;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: x-large;
    padding: 0 10px;
}

button {
    border: 1px solid black;
    border-radius: 3px;
    width: 35%;
}

.loginImage {
    display: inline-block;
}

.welcomeHolder {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 880px) {
    form {
        height: 35%;
        min-width: 250px;
    }

    input, button {
        min-width: 60%;
    }
}

@media only screen and (max-width: 600px) {

    input, button {
        min-width: 80%;
    } 
}